@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
 }

 .home {
    color: #000000;
  }
  
  .professional {
    color: #000000;
  }
  
  .personal {
    color: #000000;
  }
  
  .development {
    color: #000000;
  }
  
  .storyboard {
    color: #000000;
  }
  
  .references {
    color: #000000;
  }
  
  img {
    border-radius: 8px;
    max-width: 80%;
    height:auto;
  }
  
  a {
    text-decoration: none;
  }
  .hero {
    width: 100%;
    height: 100vh;
    background: url();
    background-size:cover;
  }
  nav {
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    background-color: #7d25e2;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
  }
  nav ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
  }
  nav ul li a:hover {
    color: #000000;
  }
  nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #000000;
    transition: 0.3s;
    bottom: 0;
  }
  nav ul li a:hover:after {
    width: 100%;
  }
  .content {
    position: absolute;
    top: 25%;
    left: 8%;
  }

  .content .title {
    color: #0a0a0a;
    font-size: 40px;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 30px;
    
  }

  footer{
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0px;
    font-size: 10px;
    text-align: right ;
    
  }